body {
  background-image: url(sm.jpg);
}
hgroup {
   text-align: center;
}
h1 {
      font-size: 68px;
  color: white;
}
h2 {
  font-size: 65px;
  color: white;
}
h3 {
  font-size: 60px;
  color: white;
}
h4 {
  font-size: 55px;
  color: white;
}
h5 {
  font-size: 50px;
  color: white;
}
